{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.telegram.org/bot1295081136:AAFeO6O-nqz43wSYtKrD0RW_NEz60FdH-fd/sendMessage",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"chat_id\":\"5894482\",\"text\":\"I'm message\",\"parse_mode\":\"Markdown\",\"reply_markup\":{\"keyboard\":[[\"Button from VCR\"]],\"one_time_keyboard\":false}}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ok\":true,\"result\":{\"message_id\":1472,\"from\":{\"id\":1295081136,\"is_bot\":true,\"first_name\":\"vergil_and_me\",\"username\":\"vergil_and_bot\"},\"chat\":{\"id\":589448234,\"first_name\":\"\\u0410\\u0439\\u0431\\u0435\\u043a\",\"last_name\":\"\\u0418\\u0436\\u0430\\u043d\\u043e\\u0432\",\"username\":\"aibekizhanov\",\"type\":\"private\"},\"date\":1598428186,\"text\":\"I'm message\"}}"
        }
      },
      "recorded_at": "Wed, 26 Aug 2020 07:49:47 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}
